.section1{
width: 500px;
height: 300px;
color: blue;
border: 4px solid green;
outline-offset: 2px;
margin-top: 100px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
background-color:antiquewhite;
border-style:groove;
float:right;
}

.section2{
width: 500px;
height: 300px;
color:brown;
border: 4px solid green;
outline-offset: 2px;
margin-top: 100px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
background-color:dimgrey;
border-style:outset;





}









